<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://jacsi-contraryrobin3.c9users.io/"><strong><i class="fa fa-car" aria-hidden="true"></i> Project J.A.C.S.I.</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://jacsi-contraryrobin3.c9users.io/">Home</a></li>
        <li><a href="https://jacsi-contraryrobin3.c9users.io/about">About Us</a></li>
        <li><a href="https://jacsi-contraryrobin3.c9users.io/minutes">Minutes with Professor</a></li>
        <li class="dropdown">
          <a href="https://jacsi-contraryrobin3.c9users.io/progress" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Design<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://jacsi-contraryrobin3.c9users.io/plan">The Plan</a></li>
            <li><a href="https://jacsi-contraryrobin3.c9users.io/budget">The Budget</a></li>
            <li><a href="https://jacsi-contraryrobin3.c9users.io/progress">The Progress</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://jacsi-contraryrobin3.c9users.io/">J.A.C.S.I Software Demo</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>