<% include partials/header %>
<% include partials/nav %>

<div class="container">
    <h1>About Us</h1>
    <div>
        <h2>Derick Murphy</h2>
        <p>Hello, I am Derick Murphy. I was born and raised in Winter Garden, FL 
        and ever since I was little, I have always loved to create things; whether 
        it be writing a story, making a movie, drawing a picture, or building a 
        prop from my favorite movies and TV shows. As I grew older, I started to 
        gain an interest in computers and began to explore how a computer worked. 
        Eventually, I built my own computer my senior year of high school. I knew 
        that there was still so much more that I wanted to learn about computers, 
        therefore, I choose to study Computer Engineering. Now nearing the end of 
        my Bachelor level education, I get the chance to put the knowledge I have 
        learned to use by partnering with Chris to build something awesome.</p>
    <hr>
    </div>
    <div>
        <h2>Christopher Folkes</h2>
        <p>Hey everyone, my name is Christopher Folkes. I was born in New Brunswick, 
        NJ. At the age of thirteen, I moved to Florida where I have spent the latter 
        years of my current life. Growing up, I have always had a deep passion for 
        technology and a knack for pursuing different technical challenges. After high 
        school, I received my Associate of Arts degree, then moved to Valencia College, 
        to where I am currently in the process of completing my Bachelor’s Degree in 
        Electrical Engineering Technology. Nearing the end of my Bachelor level career, 
        I have the chance to apply my knowledge obtained throughout my coursework and 
        use that to construct an idea for senior design. Together, with my design partner 
        Derick, we can accomplish the goal of creative thinking and produce an innovative 
        design.</p>
    <hr>
    </div>
    
</div>


<% include partials/footer %>