<% include partials/header %>
<% include partials/nav %>

<div class="container">
    <h1>Budget</h1>
    <div class="budget">
        <hr>
        <h2>Proposed</h2>
       
        <table style="width:100%">
            <tr>
                <th><h2>Part</h2></th>
                <th><h2>Price</h2></th>
            </tr>
            <tr>
                <td>Android Tablet</td>
                <td>$100.00</td>
            </tr>
            <tr>
                <td>Controller</td>
                <td>$19.98</td>
            </tr>
            <tr>
                <td>RC Car</td>
                <td>$68.50</td>
            </tr>
            <tr>
                <td>Raspberry Pi 3</td>
                <td>$34.99</td>
            </tr>
            <tr>
                <td>Wifi Adapter</td>
                <td>$9.99</td>
            </tr>
            <tr>
                <td>Pixy</td>
                <td>$69.00</td>
            </tr>
            <tr>
                <td>Ultrasonic Sensors(4x)</td>
                <td>$11.96</td>
            </tr>
            <tr>
                <td>Radar Sensors(2x)</td>
                <td>$9.98</td>
            </tr>
            <tr>
                <td>Misc</td>
                <td>$30.00</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>$354.40</td>
            </tr>
        </table>
    </div>
    
</div>

<% include partials/footer %>