<% include partials/headerHome %>
<% include partials/nav %>


<!--<div class="row">-->
<!--    <div class="jumbotron col-md-8">-->
<!--        <h1>Welcome to our new Website!</h1>-->
<!--        <p>Join us as we venture into the world of "Autonomous Drivng", with the goal to make those RC Roads safer! </p>-->
<!--        <p><a class="btn btn-primary btn-jg" href="https://jacsi-contraryrobin3.c9users.io/progess" role="button">Check It Out</a></p>-->
<!--    </div>-->
<!--    <div  class="col-md-4">-->
<!--        <img class="thumbnail" src="http://www.indiewire.com/wp-content/uploads/2017/07/rick-and-morty.png?w=780">-->
<!--    </div>-->
<!--</div>-->

<% include partials/footer %>