<% include partials/header %>
<% include partials/nav %>

<div class="container">
    <h1>Minutes with Professor</h1>
    <div>
        <h2>May 18, 2017</h2>
        <p>Groups met with Professor to discuss the syllabus and course expectation for proposal. Design Proposal website established.</p>
    <hr>
    </div>
    <div>
        <h2>May 23, 2017</h2>
        <p>The team met met with the professor to cover criteria for project and proposed several ideas.
            Ideas proposed:
            Multifactor Authentication Safe : Safe that utilizes biometrics, RFID tagging, Capacitive sensors, 
            facial recognition and a combinational locking system in order to properly secure any personal belongings.
            Audio to Text Glasses: A pair a glass to be utilized by the hearing-impaired, which would display text as a person speaks.
            Collision avoidance vehicular system: The system would encompass front and rear collision, as well as both the left and right side.
            After pitching ideas the team was tasked to perform research on proposed ideas to solidify design choice within two 
            weeks. Next meeting is 5-30-17 @ 12 in bldg 11 room 243.</p>
    <hr>
    </div>
    <div>
        <h2>May 30, 2017</h2>
        <p>After researching the three ideas the team decided to pursue the collision avoidance idea, and were then tasked with finding different scenarios to test.</p>
    <hr>
    </div>
    <div>
        <h2>June 6, 2017</h2>
        <p>The suggested scenarios were presented, and the addition of making the car autonomous was added, and the researching phase began.</p>
    <hr>
    </div>
    <div>
        <h2>July 11, 2017</h2>
        <p>Team met with professor to reestablish design focus, and it was decided that the project would be tested under three to four scenarios.</p>
    <hr>
    </div>
    <div>
        <h2>September 7, 2017</h2>
        <p>Team met with the professor and the other groups to go over the due dates and to choose when we would meet up weekly.</p>
    <hr>
    </div>
    <div>
        <h2>September 20, 2017</h2>
        <p>Team met with professor and discussed progress and some complications that we ran into.</p>
    <hr>
    </div>
    <div>
        <h2>September 27, 2017</h2>
        <p>Team met with professor and discussed progress and future timeline goals. Including a working prototype by 
        October 11, 2017. We also discussed the issue of powering everything.</p>
    <hr>
    </div>
    <div>
        <h2>October 3, 2017</h2>
        <p>Team met with professor and discussed progression with powering all components of vehicle and plans to 
        facilitate lane keeping system.</p>
    <hr>
    </div>
    
</div>


<% include partials/footer %>